body {
  background-color: beige;
  margin: 0 auto;
}

h1 {
  color: black;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}

h2 {
  color: blue;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

ul {
  list-style-type: circle;
  font-family: Helvetica, sans-serif;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

article {
		padding: 15px;	
}

nav {
	background-color: lightblue;
	padding: 15px;
	margin: 15px;
	font-weight: underline;
}

